.header_main {}

.swiper-banner {
	overflow: hidden;
}

.header-title {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	z-index: 1;
	display: flex;
}

.header-title-img-logo {
	width: 170px;
	height: 46px;
	margin-left: 280px;
	margin-top: 16px;
}

.header-title ul {
	/* margin: 0 auto; */
	width:630px;
	overflow:hidden; 
	height: 50px;
	overflow: hidden;
	margin:30px 10px 0 480px; 
}

.header-title-options {
	display: flex;
	/* margin-left: 500px; */
}

.header-title ul li {
/* 	list-style: none;
	float: left;
	height: 24px;
	font-size: 18px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 24px;
	margin-left: 42px;
	cursor: pointer; */
	font-family: PingFangSC-Regular;
	width:120px; 
	height:40px;
	line-height:24px;
	text-align:center; 
	float:left; 
	color: rgba(255, 255, 255, 1);
	font-size:20px
}


.header-title ul li:hover {
	color: #00f;
}

.header-title-img-search {
	width: 34px;
	height: 34px;
	margin-top: 1.5625rem;
	/* margin-bottom: auto; */
}

.header-title-options p {
	width: 102px;
	height: 34px;
	font-size: 14px;
	font-family: PingFangSC-Semibold;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	line-height: 34px;
	margin-top: 25px;
	margin-bottom: auto;
	margin-left: 20px;
	inline-size: 72px;
	
	padding-left: 28px;
	padding-right: 20px;
	border: white solid 1px;
	border-radius: 17px;
}


.header-bottom {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	display: flex;
}

.header-bottom-ad {
	margin-left: 282px;
	display: flex;
	align-items: center;
}

.header-bottom-ad img {
	width: 36px;
	height: 36px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.header-bottom-ad p {
	height: 25px;
	font-size: 18px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 25px;
	letter-spacing: 2px;
	margin-left: 12px;
}

.header-bottom-attention {
	margin-left: 782px;
	margin-top: auto;
	margin-bottom: auto;
}

.header-bottom-attention img{
	width: 32px;
	width: 32px;
	margin-left: 20px;
}
