.flex-container {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin: 40px auto 0;
	max-width: 100%;
}

.flex-item {
	position: relative;
	width: 25%;
	height: 300px;
	background-size: cover;
	/* 整个item 的边距 */
	margin: 0 20px;
	border-radius: 10px;
	/* 文字的内边距 */
	/* line-height: 200px; */
	/* 实现顺滑的重点 */
	transition: all .5s;
	-webkit-transition: all .5s;
}

.flex-item.active {
	width: 50%;
}

#move1 {
	background-image: url(../img/flex1.png);
}

#move2 {
	background-image: url(../img/flex2.png);
}

#move3 {
	background-image: url(../img/flex3.png);
}

#move1.active {
	background-image: url(../img/flex1_hover.png);
}

#move2.active {
	background-image: url(../img/flex2_hover.png);
}

#move3.active {
	background-image: url(../img/flex3_hover.png);
}

.flex-item-hover {
	width: 50%;
	image-rendering: auto;
	image-rendering: pixelated;
}

.title1 {
	text-align: center;
	line-height: 2.5rem;
	font-size: 28px;
	font-family: PingFangSC-Semibold;
	margin-left: 70px;
	color: rgba(0, 0, 0, 1);
}

.title2 {
	margin-left: 90px;
	width: 152px;
	height: 40px;
	font-size: 28px;
	font-family: PingFangSC-Semibold;
	font-weight: 600;
	color: rgba(0, 0, 0, 1);
	line-height: 40px;
	letter-spacing: 10px;
}

.title3 {
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	font-family: PingFangSC-Regular;
	font-weight: 200;
	margin-left: 70px;
	color: rgba(0, 0, 0, 1);
	width: 79px;
}

.title4 {
	text-align: left;
	font-size: 16px;
	font-family: PingFangSC-Semibold;
	margin-left: 10px;
	line-height: 4px;
	float: left;
	margin: 18px auto auto 30px;
	color: white;
	letter-spacing: 8px;
}

.title5 {
	margin-left: 10px;
	/* width: 100px; */
	height: 11px;
	font-size: 8px;
	line-height: 4px;
	float: left;
	margin: 18px auto auto 30px;
	color: white;
	font-family: PingFangSC-Semibold;
	letter-spacing: 1px;
}

/* 产业孵化园 文字div */
.incubaTitleDiv {
	width: 100%;
	height: 0;
	overflow: hidden;
	color: white;
	font-size: 16px;
	font-weight: 400px;
	line-height: 26px;
	letter-spacing: 4px;
	transition: all .5s;
	-webkit-transition: all .5s;
	position: absolute;
	bottom: 0;
	right: 0;
}

.incubaTitleDiv>div {
	padding: 50px 50px 0;
}

.active .incubaTitleDiv {
	height: calc(100% - 54px);
	width: 100%;
}

/* 区块链头部图片布局 */
.imgDiv {
	width: 52px;
	height: 52px;
}

.imgDiv img {
	margin-top: 57px;
	margin-left: 80px;
}

/* 区块链进程头部图片布局 */
.processImg {
	width: 52px;
	height: 52px;
}

.processImg img {
	margin-top: 57px;
	margin-left: 136px;
}

/*  合作伙伴图片布局 */
.partnerImg {
	width: 1400px;
	height: 300px;
	margin: 30px auto;
}

.partnerImg img:hover {
	box-shadow: #999 0px 0px 8px;
}

.partnerImgStyle {
	float: left;
    margin-top: 40px;
    border-radius: 10px;
    margin-right: 60px;
}

/* 进程 */
.processItem {
	width: 100%;
	float: left;
	height: 30px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}

/* 虚线定位 */
.posabs {
	position: relative;
	bottom: -48px;
	margin-left: 60px;
	margin-right: 0px;
}

.cirpos {
	float: left;
	margin-left: 55%;
	margin-top: 2%;
	margin-bottom: 4%;
}
